@{
   
    Layout = "~/Views/Shared/Login.cshtml";
}
@model Employee_Leaving.Models.LoginDTO
<style>
    * {
        font-family: 'Times New Roman', Times, serif;
    }
</style>
<body style="background-color:lavender; color:black">
    <div class="text-center card w-50 mx-auto " style="box-shadow:20px 20px 50px 10px lightblue inset; margin-top:155Px">
        <div class="card-body shadow rounded">
            <h1 class="display-8 card-title" style="color:black">Login Page</h1>
          
            <style>
                table {
                    width: 40%;
                    border: 1px solid;
                    border-radius: 30px;
                }
            </style>

    @using (Html.BeginForm(FormMethod.Post))
    {
      <div class="card-text">
         <div align="center" >

                <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3 ">
                <div>Email_Id: </div>
                <div>

                                @Html.TextBoxFor(m => m.Email_Id ,new { @class="form-control",required = "required" , maxlength = "50"})
                </div>
                </div>

                <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3 ">
                <div>Password: </div>
                <div>
                                @Html.TextBoxFor(m => m.Password ,new {@class="form-control",required = "required" , maxlength = "20"})
                </div>
                    </div>
                      
                <div>
                            <button class="btn btn-danger">Login</button>
                        </div>
                   
         </div>
               
        </div>
      
        }
     </div>
       </div>
       </body>
@*</body>
<body style="background-color:lavender; color:black">
    <div class="text-center card w-50 mx-auto " style="box-shadow:20px 20px 50px 10px lightblue inset">
        <div class="card-body shadow rounded">
            <h1 class="display-8 card-title" style="color:black">Login Page</h1>

            <style>
                table {
                    width: 40%;
                    border: 1px solid;
                    border-radius: 30px;
                }
            </style>
@using (Html.BeginForm(FormMethod.Post))
{

     <div class="card-text">
     <div align="center">

        <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3">
            <div >EMail Id <span id="mandatory"> * </span></div>
            <div class="col-md-6">@Html.TextBoxFor(model=>model.Email_Id, new { @class="form-control", required = "required" , maxlength = "50"}  )</div>
        </div>



        <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3">
            <div>Password<span id="mandatory"> * </span></div>
            <div>
                @Html.TextBoxFor(model=>model.Password , new { @class="form-control", required = "required" , maxlength = "50"} )
            </div>
        </div>

    <div style="height:50px; width: 85% ;" class="mx-auto row row-cols-3">
            <div>
            <button class="btn btn-danger">Login</button>
            </div>
        </div>



    </div>
    </div>
   
}
        </div>
    </div>
</body>*@